body{
    background-image: url("./resources/Background_image@2x.png");
    background-color: #121826;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
  }

 .author-info {
font-size: 14px;
text-align: center;
margin-top: 40px;
color: rgb(255, 255, 255);
}

.author-info a {
text-decoration: none;
color: #cdd8f7;
}

h1{
color: #E5E7EB;
font-size: 2.5rem;
font-weight: 600;
text-align: center;
margin-top: 50px;
}

.card_title{
color: #E5E7EB;
font-size: 1.25rem;
font-weight: 600;
margin-left: 20px;
margin-right: 20px;
}

.text{
color: #9DA3AE;
font-size: 1rem;
font-weight: normal;
text-align: center;
}

.description{
color: #D2D5DA;
font-size: 1rem;
font-weight: normal;
margin-left: 20px;
margin-right: 40px;
}


.components{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 70px;
margin-top: 50px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 80px;
}

.card{
height: 460px;
width: 320px;
background-color: #212936;
box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
border-radius: 20px;

}

.icon{
background-color: #FCEED8;
font-size: 25px;
padding: 10px;
border-radius: 50px;
margin-left: 20px;
margin-right: 20px;
display: inline-block;
margin-top: 25px;
margin-bottom: 0px;
}

.yellow{
background-color: #FCEED8;
}

.blue{
background-color: #DEE9FC;
}

.pink{
background-color: #FBE5E6;
}

.card_image{
height: 200px;
width: 280px;
border-radius: 10px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 25px;
}